.Item {
    
    width: 60%;
    height: fit-content;
    border: 2px solid rgb(235, 219, 222);
    box-shadow: 0 5px 3px crimson;
    text-align: center;
    margin: 16px auto;
    padding: 10px;
    background-color: whitesmoke;
    
}




@media (max-width: 350px){
    .Item {
        width : 100%;
        padding: 15px;
        display: flex;
        margin : auto;
    }
}