.Item {
    
    width: 60%;
    height: fit-content;
    border: 2px solid rgb(235, 219, 222);
    box-shadow: 0 5px 3px crimson;
    text-align: center;
    margin: 16px auto;
    padding: 10px;
    background-color: whitesmoke;
    
}

.Delete {

    background-color:red;
    margin-right: 10px;
    padding:8px; 
    font-family : Lobster;
}

.Done {

    background-color:green;
    padding:8px;
    font-family : Lobster;
}

.A {
    display:flex;
    margin-left:250px;
    margin-right: 10px;
}

.A input {

    height:78%;
    font-family:Lobster;
    font-size:24px;
    text-align:center;
}


@media (max-width: 400px){
    .Item {
        width : 100%;
        padding: 15px;
        display: flex;
        margin : 0 auto;
    }
}